.container {
  color: var(--font-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  text-align: center;
  justify-content: center;
  font-size: 1.8rem;
  gap: 1rem;
}
.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.arrowRight {
  display: none;
}
.me {
  width: 90%;
}
.container main h1 {
  font-size: 3rem;
  font-weight: 200;
  margin: 0;
}
.container h2 {
  font-size: 2.2rem;
}

.presentation:hover {
  animation-name: volvermasgrande;
  animation-duration: 0.8s;
  backface-visibility: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 80vw;
  min-height: 50rem;
}      
.card img {
  height: auto;
  width: auto;
  max-height: 60rem;
  max-width: 60rem;
  border-radius: 5px
}
.card h4 {
  margin: 0;
}
.card .button {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 3rem;
}

.card ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.card ul li:last-child {
  margin-bottom: 1rem;
}

.card button {
  border: none;
  background-color: var(--main-color);
  color: var(--font-color);
  border-radius: 10%;
  font-size: 1.5rem;
  padding: 0.8rem;
  font-weight: 500;
  outline: 0.5px solid var(--font-color);
  transition: 0.3s all;
}

.card button:hover {
  background-color: var(--font-color);
  color: var(--main-color)
}


@keyframes volvermasgrande {
  0%{transform: scale(1);}
  50% {
    transform: scale(1.15);
    backface-visibility: hidden;
  }
  100% {transform: scale(1);}
}

@media screen and (min-width: 1000px) {
  .container main {
    flex-direction: row;
    width: 90vw;
    justify-content: space-between;
    height: 25vh;
  }

  .titlePlusIcon {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30%;
  }

  .titlePlusIcon h1{
    font-size: 3rem;
  }

  main p {
    width: 60%;
    font-size: 2.5rem;
  }
  .arrowDown {
    display: none;
  }

  .arrowRight {
    display: inline;
    font-size: 2rem;
  }

  .me h3 {
    font-size: 2.5rem;
  }

  .me p {
    font-size: 2.2rem;
  }

  .card img {
    max-width: 40rem;
    max-height: 40rem;
  }
}